NEXT_PUBLIC_SUPABASE_URL=https://ipzpzdlqfgssbbsqdphf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlwenB6ZGxxZmdzc2Jic3FkcGhmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcwNTgyMjYsImV4cCI6MjEwMjYzNDIyNn0.j8V6R7Qw1Z_WM6YHi_jU5JXaq_VYHso35UHtCDYOa-o
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyCX5ofQ38Zd8rUUHoANHhmlZeifdLgxikM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlwenB6ZGxxZmdzc2Jic3FkcGhmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NzA1ODIyNiwiZXhwIjoyMTAyNjM0MjI2fQ.5NIGdAC4PQQJ5RlS_KI8Tld7jv2jookwwXZX1-rP42U
